
		

.infor {
	margin: 0 auto;
	// width: 66em;
	// padding: 0 2em;
	// margin: calc( (100em - 66em)/2 );
	>h3 {
		text-align: center;
		padding: 2em 0 1em;
		}
	p {
		padding: 1em 10em;
	}
	&:last-child {
		margin-bottom: 3em;
	}
}

.underline {
	height: 2px;
	width: 3em;
	margin: 0 auto;
background-color: rgba(70, 35, 122, 0.75);
    margin-bottom: 2em;
}

// Animation		
@keyframes scroll {	
	0% {
        transform: translateX(0);
    }
	100% {
		transform: translateX(-$width-brand * $brand-count / 2);
    }
}
// Styling		
.slider-brand {
	position: relative;
	margin: 30px auto;
	max-width: 70em; //720px; Any. Content width	
	width: 100%;
	height: auto; //$height-brand;
	background: white;
	box-shadow: 0 10px 45px -5px rgba(0, 0, 0, .125);	
	overflow: hidden;

	.slide-track {
		display: flex;
		width: $width-brand * $brand-count;
		justify-content: space-between;
		animation: scroll $animationSpeed linear infinite;
    }	
	img	{
		width: $width-brand;
		height: $height-brand;
		margin-right: 2em;
    }
	// gradients around the edges	
	&:before,	
	&:after	{
		content: '';
		position: absolute;
		width: $width-brand;
		height: $height-brand;
		background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
		z-index: 2;
    }
	&:after	{
		top: 0;
		right: 0;
		transform: rotateZ(180deg);
    }
	&:before {
		top: 0;
        left: 0;
    }
}