* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


.contact-details .social {
    display: flex;
    width: 100%;
    // padding-top: 2em;
}

.contact-details .social li {
    display: block;
    list-style: none outside;
    margin-right: 1em;
}

.contact-details .social i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(70, 35, 122, 0.65);
    border-radius: 50%;
    background: rgba(252, 252, 252, 1);
    border: 1px solid rgba(70, 35, 122, 0.65);
    width: 2.5em;
    height: 2.5em;
    line-height: 1;
    transition: background 0.2s ease-in;
}

.social i:hover {
    background: rgba(70, 35, 122, 0.3);
    color: rgba(252, 252, 252, 1);
    border: 2px solid rgba(61, 220, 151, 1);
}