.page-about {
    
}

.page-начало {
    .site-media {
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        justify-content: flex-end;
        background-attachment: fixed;
    }
}

.page-контакти, .page-услуги, .page-за-нас {
    .site-media {
        height: 8em;
        background-attachment: scroll;
        &:before {
            background-color: rgba(252, 252, 252, 1);
        }
        color: rgba(70, 35, 122, 0.65);
    }
    .site-nav ul li a,
    .site-nav-toggle-label i {
        color: rgba(70, 35, 122, 0.65);
              &:hover {
                  border: 1px solid rgba(70, 35, 122, 0.65);
              }
        }
    }

    .page-за-нас {
        .top-image {
            height: 20em;
        }
    
    }

.site-content .site-wrapper {
    color: rgba(70, 35, 122, 0.75);
    background-color: rgba(252, 252, 252, 1);
}