.page-about {
    
}

.page-начало {
    .site-media {
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        justify-content: flex-end;
        background-attachment: fixed;
    }
    .service-types {
        height: 50vh;
    }
}

.page-контакти, .page-услуги, .page-за-нас {
    .site-media {
        height: 8em;
        background-attachment: scroll;
        &:before {
            background-color: var(--baby-font);
        }
        color: var(--lilac-font);
    }
    .site-nav ul li a,
    .site-nav-toggle-label i {
        color: var(--lilac-font);
              &:hover {
                  border: 1px solid var(--lilac-font);
              }
        }
    }

    .page-за-нас {
        .top-image {
            height: 30em;
        }
    
    }

.site-content .site-wrapper {
    color: var(--lilac-font);
    background-color: var(--baby-font);
}