.page-about {
    
}

.page-начало {
    .site-media {
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        justify-content: flex-end;
        background-attachment: fixed;
    }
}

.page-контакти {
    .site-media {
        height: 7em;
        background-attachment: scroll;
    }
}