.site-header {
    position: relative;
    z-index: 2000;
    background-color: var(--baby-font);

    .site-wrapper {
        width: 100%;
        // margin: 1em;
        // padding: 2rem;
        // padding-bottom: 1rem;

        @include bp(desktop) {
            display: flex;
            flex-direction: column;
            // align-items: center;
            // justify-content: center;
        }
    }
}

.site-media {
    height: auto;
    width: 100vw;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    position: relative;
    display: inline-block;

    .site-horizontal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        
            img {
                background: transparent;
                width: 2em;
                height: 2em;
                z-index: 1000;
                display: block;
                // border: 1px solid rgba(252, 252, 252, 1);
                }
            }
        
}

   
.site-media:before {
    display: block;
    content: '';
    background: rgba(70, 35, 122, 0.65);
    // rgba(70, 35, 122, 0.65); 
    position: absolute;
    top: 0;right: 0;bottom: 0;left: 0;
}

.site-media .site-wrapper { 
    width: 100%;
    color: var(--baby-font);
    // rgba(252, 252, 252, 1);
    position: relative;
    z-index: 10;
    // padding-top: 2.5rem;
    // padding-bottom: 2rem;
    // @include bp(desktop) {
    //     text-align: center;
    // }
}

// .site-media .site-wrapper {
//     display: flex;
//     flex-direction: column;
//     margin-top: 12em;
// }

.site-message {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
        
    // height: 100%;
    // width: 100%;
    // position: absolute;
    // top: 0;
    // z-index: 1;
    //     h1, p {
    //         margin: 0 auto;
    //         height: inherit;
    //         width: 66em;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         flex-direction: column;
        
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
}
        
    
.site-media p,
.site-media .site-message h1 {
    // min-width: 70vw;
    text-align: center;
    // color: rgba(252, 252, 252, 1);
    // opacity: 1;
    // z-index: 200;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.site-media .site-wrapper h1 {
    
}

.site-media .site-wrapper p {
    font-size: 18px;
}

.site-media .site-wrapper .social {
    padding-top: 2em;
}

.top-image {
    // height: 50em;
    width: 100vw;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    position: relative;

    &:before {
        display: block;
        content: '';
        background: rgba(70, 35, 122, 0.45);
        position: absolute;
        top: 0;right: 0;bottom: 0;left: 0;
    }
}
