:root {
    --font-size: 21px;
    --font-weight: 200;
    --font-line-height: 1.5;
    --font-family-main: "Roboto, sans-serif";
    --font-family-headings: "Open-Sans, sans-serif";
    --lilac-font: rgba(70, 35, 122, 1);
    --baby-font: rgba(252, 252, 252, 1);
    // --layout-width: 70em;
    --layout-padding-b: 2em;
}

$width-brand: 150px;	
$height-brand: 100px;	
$brand-count: 16;	
$animationSpeed: 40s;	