<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% if page.title != "Начало" %}
        {{ page.title}} | {{ site.title }}
        {% else %}
        {{ site.title }}
        {% endif %}
    </title>
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon/favicon-16x16.png" type="image/png">
    <link href="{{ site.baseurl }}/css/site.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <script>
        window.addEventListener("load", (event) => {
            document.querySelector("body")
                .classList.add("loaded")
        });
    </script>
</head>

<body class="page-{{ page.title | slugify}}">

    <input type="checkbox" id="site-nav-toggle" class="site-nav-toggle">

    <div class="site">
        <header class="site-header">
            <div
             class="site-media" style="background-image: url('{{ site.baseurl }}{{ page.featured_image }}');">
                <div class="site-wrapper">
                    <div class="horizontal">
                        <a href="{{ site.baseurl }}/index">
                            <img src="{{ site.baseurl }}/images/logos/lilac-logo.png" alt="logo" width="75">
                        </a>

                        {% include navigation.html location="header" %}
                    </div>

                    <div class="site-message">
                        {% if page.fancy_title %}
                        <h1>{{ page.fancy_title }}</h1>
                        {% endif %}
                        {% if page.fancy_desc %}
                        <p>{{ page.fancy_desc }}</p>
                        {% endif %}
                        <!-- {% if page.fancy_social == 1 %}
                    <ul class="social">
                        <li><a href="#">F</a></li>
                        <li><a href="#">T</a></li>
                        <li><a href="#">L</a></li>
                        <li><a href="#">I</a></li>
                    </ul>
                    {% endif %} -->
                    </div>
                </div>
            </div>

            <!-- <div class="top-image" style="background-image: url('{{ site.baseurl }}{{ page.page_image }}');">
                {% if page.title == "За нас" %}
                {% endif %}
            </div> -->

        </header>

        <main class="site-content">
            <div class="site-wrapper">
                {{ content }}
            </div>
        </main>

        <footer class="site-footer">
            <div class="site-wrapper">

                <div class="info">
                    <p>{{ site.title }} &copy; 2019</p>
                </div>
                <section class="contact-details">

                    <ul class="social">
                        <li>
                            <i class="fas fa-phone fa-2x"></i>
                            <!-- <p>{{ page.phone }}</p> -->
                        </li>
                        <li>
                            <i class="fab fa-facebook-messenger fa-2x"></i>
                            <!-- <p>{{ page.messenger }}</p> -->
                        </li>
                        <li>
                            <i class="fas fa-envelope fa-2x"></i>
                            <!-- <p>{{ page.email }}</p> -->
                        </li>
                        <li>
                            <i class="fas fa-map-marker fa-2x"></i>
                            <!-- <p>{{ page.address }}</p> -->
                        </li>
                    </ul>

                </section>
            </div>
        </footer>
    </div>

</body>

</html>